*,*:before,*:after {-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-spacing:0;}
@font-face{font-family:'Coda';font-style:normal;font-weight:normal;src: url("font/Coda-Regular.ttf") format('truetype');}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,th{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
ol,ul{list-style:none;margin:0;padding:0}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
hr{border:1px #EAEAEA dashed;clear:both;height:0}h1{font-size:23px}h2{font-size:20px}h3{font-size:17px}h4{font-size:16px}h5{font-size:15px}ol{list-style:decimal}li{margin-left:30px}p,dl,hr,table,address,fieldset{margin-bottom:10px}pre{margin-bottom:5px}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix{height:1%}
::selection{color:#FFF;background:#FF6600}
body{background:#f7f7f7;color:#000;font-size:14px;line-height:150%;font-family:"Coda","Microsoft Yahei",Verdana,Tahoma,Helvetica,Arial,SimSun,sans-serif}
h1,h2,h3,h4,h5,h6{font-weight:400}
input,textarea{font-size:14px;border:1px solid #ccc;background:#fafafa;font-family:"Microsoft Yahei",Tahoma,Arial,SimSun,"Hiragino Sans GB",PMingLiu,Verdana,sans-serif;padding:2px 4px}
textarea{padding:3px}
a{color:#222;text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur())}
a:hover{color:#FF6600}
img a,#smiley a{border:0}
pre,code{display:block;overflow-x:auto;background:#fff;border:1px dashed #ccc;padding:5px 10px;max-width:740px;}
blockquote:before,blockquote:after,q:before,q:after{content:""}
table,td,th{vertical-align:middle}
caption{background:#eee}
fieldset{border:1px solid #ccc;margin:0 0 1.5em;padding:1.4em}
.red{color:red}.noshow{display:none}
.button{zoom:1;display:inline;vertical-align:baseline;outline:none;cursor:pointer;text-align:center;text-decoration:none;font:14px/100% Arial, Helvetica, sans-serif;text-shadow:0 1px 1px rgba(0,0,0,.3);-webkit-border-radius:.5em;-moz-border-radius:.5em;border-radius:.5em;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2);margin:0 2px;padding:.5em 2em .55em}
.button:hover{text-decoration:none}
.button:active{position:relative;top:1px}
.plr15{padding-left:15px;padding-right:15px}
.scroll-bar{position:fixed;top:0;left:0;z-index:4500;display:none;width:0;height:2px;background:#FF6100;}
#instantclick-bar{background:#FF6100}
.h255{height:255px;width:300px;overflow:hidden;padding:0 0 4px;}
.container{width:96%;max-width:1080px}/**autowidth**/
/**icon**/
@font-face {
  font-family: 'iconfont';  /* project id 330866 */
  src: url('//at.alicdn.com/t/font_330866_axw5yk6278j.eot');
  src: url('//at.alicdn.com/t/font_330866_axw5yk6278j.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_330866_axw5yk6278j.woff') format('woff'),
  url('//at.alicdn.com/t/font_330866_axw5yk6278j.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_330866_axw5yk6278j.svg#iconfont') format('svg');
}
.iconfont{font-family:"iconfont" !important;font-size:16px;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing: grayscale;}
.icon-comment:before{content:"\e614";}
.icon-view:before{content:"\e74b";}
.icon-article:before{content:"\e61f";}
.icon-data:before{content:"\e645";}
.icon-author:before{content:"\e736";}
.icon-link:before{content:"\e834";}
.icon-category:before{content:"\e616";}
.icon-friend:before{content:"\e618";}
.icon-article2:before{content:"\e6b8";}
.icon-email:before{content:"\e665";}
.icon-url:before{content:"\e609";}
.icon-down:before{content:"\e60a";}
.icon-notice:before{content:"\e87e";}
.icon-coin:before{content:"\e619";}
.icon-search:before{content:"\e623";}
.icon-home:before{content:"\e653";}
/**main**/
#header{height:150px;left:0;right:0;top:0;position:absolute;z-index:10;background:#F0F0F0}
#content{display:inline-block;vertical-align:top;letter-spacing:0;margin-right:340px;min-height:1200px;height:auto!important;height:1200px;padding-bottom:15px;max-width:740px}
#sidebar{width:310px;position:absolute;right:0;top:0;display:inline-block;vertical-align:top;letter-spacing:0}
#footer{text-align:center;width:100%;background:#444;color:#fff;position:relative;padding:15px 0 10px 0;font-size:14px;box-shadow:inset 0 3px 10px rgba(0,0,0,.6)}
/**header**/
.header{margin:0 auto;position:relative;padding-top:10px;}
.header .logo{width:185px;height:56px;font-size:0;color:#333;text-align:left}
.header .logo a{display:block;width:100%;height:100%;background:url("images/201802logo.png");-moz-background-size:contain;-webkit-background-size:contain;-o-background-size:contain;background-size:contain;}
.header .slogan{font-size:15px;line-height:24px;font-weight:400;margin-bottom:0}
.header .search{height:40px;width:284px;position:absolute;right:0;top:38px}
.header .search .s_inp{float:left;width:200px;border:1px solid #FF6600;height:34px;line-height:34px;border-radius:5px 0 0 5px;-moz-border-radius:5px 0 0 5px;padding-left:6px;background:#fff}
.header  .search .s_btn{float:left;background:#FF6600;border:none;width:60px;height:34px;line-height:30px;color:#FFF;cursor:pointer;font-size:16px;border-radius:0 5px 5px 0;-moz-border-radius:0 5px 5px 0}
#search-icon{display:none}
#topmenu{height:45px;line-height:45px;position:absolute;top:105px;right:0;width:100%;background:#444;display:inline;z-index:10px}
#topmenu .menu{margin:0 auto;position:relative;}
#topmenu .menu li{font-size:16px;margin:0;display:inline-block;float:left}
#topmenu .menu li a{display:block;color:#fff;padding:0 30px;letter-spacing:4px;height:45px}
#topmenu .menu li a:hover,.current{color:#FF6600 !important;border-bottom:2px solid #FF6600}
.header_bg{height:150px;}
/**content**/
.main_bg{margin:15px auto 0;position:relative}
.home{padding:5px;font-size:14px;color:#999;background:#f0f0f0;margin-bottom:8px}
.home i{margin-right:5px}
.home span{color:#FF6600;padding:0 3px}
.home a{color:#999}
.post{font-size:14px;margin-bottom:20px;overflow:hidden;border-bottom:1px solid #ccc;padding-bottom:20px}
div.post{border-bottom:0}
.post_title{margin-bottom:12px}
.post_title .title{padding-bottom:1px;font-size:20px;color:#000;line-height:28px;}
.post_title .title_info{color:#999;font-size:12px;height:16px;line-height:16px;margin-top:8px;}
.post_title .title_info a{color:#999}
.post_title .title_info span{padding-right:15px;float:left;}
.post_title .title_info span i{margin-right:2px}
.post_entry a{color:#FF6600}
.post_entry p{line-height:26px;margin:10px 0 8px 0}
.post_entry h3{margin:15px 0 8px 0;padding:10px 0 8px 6px;font-size:17px;background:#e5e5e5;color:#FF6600;border-left:8px solid #FF6600;border-radius:4px}
.post_entry h4{font-size:17px;color:#222;padding:0.5em 0;font-weight:bold}
.post_entry h5{font-size:14px;font-weight:700}
.post_entry h6{font-size:13px;font-weight:700}
.post_entry table{border-collapse:collapse;border-spacing:0;border-left:1px solid #CCC;border-top:1px solid #CCC;}
.post_entry table td{border-collapse:collapse;border-spacing:0;border-right:1px solid #CCC;border-bottom:1px solid #CCC;padding:5px;}
.post_entry .thumbnail{width:196px;height:145px!important;float:left;margin-right:10px;border:1px solid #888;box-shadow:3px 3px 0px 0px #cdcdcd;padding:2px;border-radius:3px}
.post_entry .art-content{line-height:24px;text-align:justify;text-justify:inter-ideograph;word-wrap:break-word}
.post_entry .art-content:after{content:'';overflow:hidden;width:100%;height:0;}
.post_entry .art-tags{color:#B9B9B9;padding-top:5px;text-align:left}
.post_entry .art-tags .rd_more{float:right}
.post_entry .art-tags span a{margin:0 4px;background:#ccc;color:#fff;padding:0 6px;border-radius:10px}
.post_entry .art-tags span a:hover{background:#FF6600}
/**sidebar**/
.widget{margin-bottom:10px;font-size:13px;}
.widget h4{height:32px;line-height:34px;background:#CBCBCB;color:#fff;font-size:15px;font-weight:700;border-radius:4px}
.widget h4 span{background:#FF6600;display:inline-block;padding:0 15px;height:32px;border-radius:4px 0 0 4px}
.widget ul{list-style-type:none;margin:0;padding:4px 0;}
.widget ul li{line-height:24px;margin:0;padding:0}
.widget img.avatar{display:inline;margin:3px 4px 0 0;border:1px #aaa solid;-webkit-border-radius:25%;border-radius:25%;}
.widget .commentlist li{border-bottom:1px solid #ddd;line-height:18px;padding:4px 0;_height:38px;min-height:38px}
.widget .commentlist li p{margin:0}
.widget .commentlist img.avatar{float:left;}
.widget .commentlist strong{color:#FF6600;display:block;font-weight:normal}
.widget .commentlist strong span a{font-size:12px;padding-left:6px;color:#999}
.widget .s_tit{height:32px;overflow:hidden;}
.widget .s_tit i{display:inline-block;padding:0 15px;height:32px;font-style:normal}
.widget .s_tit i.on{background:#FF6600;}
.widget .hotlist li{clear:both;height:50px;line-height:24px!important;border-bottom:1px #cdcdcd dashed;margin-bottom:8px!important;margin-top:3px!important}
.widget .hotlist li p{font-size:12px;color:#c4c4c4}
.widget .hotlist .itlu_thumbnail{float:left;width:60px;height:40px;margin-right:8px;border:1px #bbb solid}
.widget .hotlist a.h_title{height:20px;font-size:14px;display:inherit;overflow:hidden}
.widget .hotlist .time{float:left}
.widget .hotlist .views{float:right;padding-right:2px}
.widget .postlist li{width:310px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:26px;line-height:26px;}
.widget .postlist li i{margin-right:5px}
.widget .linklist li{width:49%;float:left;height:26px;line-height:26px}
.widget .m_tags{padding:5px 5px 0 0}
.widget .m_tags a{color:#666;display:inline-block;margin:0 5px 5px 0;padding:2px 8px 2px 8px;line-height:20px;font-size:1em;border-radius:16px;border:1px solid #cdcdcd}
.widget .m_tags a:hover{box-shadow:0 1px 2px rgba(0,0,32,.1);outline:0;color:#ff6600}
/**footer**/
#footer a{color:#fff;text-decoration:none}
#footer p{margin-bottom:5px;}
#footer a:hover{color:#cdcdcd;text-decoration:underline}
.backtop{position:fixed;bottom:103px;right:30px;z-index:999;width:54px;zoom:1;border-radius:50%}
.backtop a{float:left;display:block;width:54px;height:54px;text-indent:-9999em;background:url("images/scrolltop.png");-moz-background-size:contain;-webkit-background-size:contain;-o-background-size:contain;background-size:contain;}
/**content**/
.post_entry .content blockquote{border-left:5px solid #A2A2A2;margin:20px 5px 20px 20px;padding:5px 10px;border-bottom:1px dashed #A2A2A2;background:#DBDBDB}
.post_entry .content img{max-width:620px;border:1px #888 solid;box-shadow:3px 3px 0px 0px #cdcdcd;padding:2px;display:block;margin:0 auto;border-radius:3px}
.post_entry .content p{margin:10px 0 20px 0;font-size:14px;line-height:28px;text-indent:2em}
.post_entry .content li p{text-indent:0}
.post_entry .content .code{border-top:1px dashed #cdcdcd;border-right:1px dashed #cdcdcd;background:#CBCBCB;max-height:300px;overflow:auto}
.post_entry .content .code p{line-height:22px;text-indent:0;margin:5px 0;word-break:break-all;}
/**article reward**/
.reward{padding-top:0.5em;text-align:center;padding-bottom:1em}
.reward .repay{background-color:#eee;padding:7px 10px 7px 10px;border-radius:80px;height:27px;cursor: pointer;box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.20), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);}
.reward .window{display:none;padding:10px;text-align:center;line-height:1.5rem;border: 1px solid #eee;background:#fff}
.reward .window ul li{margin-left:5px;}
.reward .window ul li{max-width:140px;display:inline-block;position:relative;z-index:1;}
.reward .window ul li:after{content:'微信';display:block;}
.reward .window ul li.alipay:after{content:'支付宝';}
.reward .window ul li img{width:100%;height:100%;box-shadow:none}
/**article post_end**/
.post_end{padding:5px;background:#f0f0f0;border:1px dashed #ddd;text-align:center}
.post_end .tag a{margin:0 4px;background:#ccc;color:#fff;padding:0 6px;border-radius:10px}
.post_end .tag a:hover{background:#FF6600;}
.post_end p{margin:2px 0}
/**article pre or next**/
.navigation{margin-top:-15px;font-size:14px;clear:both;overflow:hidden;padding-bottom:8px;}
.navigation a{color:#FF6600}
.navigation .prev,.navigation .next{width:50%;float:left}
.navigation .next{text-align:right}
/**article related**/
.relatedpost{padding-top:15px;}
.relatedpost h3{height:32px;background:#CBCBCB;line-height:32px;color:#fff;font-size:15px;font-weight:700;border-radius:4px}
.relatedpost h3 span{background:#FF6600;display:inline-block;padding:0 15px;height:32px;border-radius:4px 0 0 4px}
.relatedpost ul{padding:10px 0;list-style:none;margin:0}
.relatedpost li{margin-left:0;height:25px}
.relatedpost li i{margin-right:5px}
/**page**/
ol.page-navigator{color:#ddd;list-style:none;font-size:14px;line-height:30px;padding:4px 0;text-align:center;}
ol.page-navigator li{display:inline;margin:0 5px 0 0}
ol.page-navigator li a{border:1px solid #FF6600;text-decoration:none;padding:4px 10px}
ol.page-navigator li.current a{background:#FF6600;color:#fff}
/**comment**/
#comments p{margin:4px 0;line-height:20px;}
#comments p a{color:#FF6600;font-style:normal;padding-right:3px;}
#comments h4{font-size:14px;font-weight:700;height:32px;background:#CBCBCB;line-height:32px;color:#fff;border-radius:4px}
#comments h4 span{background:#FF6600;display:inline-block;padding:0 15px;height:32px;border-radius:4px 0 0 4px}
#comments,.respond{margin-top:10px;margin-bottom:15px}
.comment-list,.comment-list ol{list-style:none;margin:0}
.comment-list ol{padding-top:3px}
.comment-list li{border-top:1px dashed #FF6600;overflow:hidden;margin:12px 0 0 0;padding:12px 12px 0 2px}
.comment-list li:first-child{border-top:none;margin-top:2px}
.comment-list li.comment-child{border-left:4px solid #FF6600;padding:0 8px 0 8px;margin-left:8px;border-top:0;}
.comment-list li.comment-child:hover{background:#EDEDED}
.comment-list .comment-reply a{font-size:11px;border:none;color:#FF6600;text-align:right;float:right}
.comment-list .comment-meta{color:#999;font-size:11px;height:16px}
.comment-list .comment-author{display:block;font-size:13px;color:#222;height:20px}
.comment-list .comment-author img.avatar{border:1px #aaa solid;float:left;margin:4px 8px 0 0;-webkit-border-radius:25%;border-radius:25%;}
.comment-list .comment-by-author > div > span > img.avatar{border:1px solid #FF6100}
.comment-list .comment-author cite.fn a{font-style:normal;color:#FF6600}
.comment-list .comment-body{overflow:hidden}
.comment-list li .respond{border-top:1px solid #ddd;padding-top:10px}
.respond .cancel-comment-reply{float:right;font-size:11px;padding:6px 5px 0 0}
.respond .cancel-comment-reply a{border:none;color:#FF6600}
#comment_form{padding-right:4px;padding-top:5px}
#comment_form .iform{line-height:28px;height:28px;margin-bottom:5px;position:relative;width:75%}
#comment_form .iform i{width:25px;height:25px;display:inline-block;position:absolute;left:5px;color:#666}
#comment_form .welcome{font-size:16px}
#comment_form .we{color:#FE6127}
#comment_form .edit_author{font-size:12px;cursor:pointer;color:#FF6600;margin-left:4px}
#comment_form .text{width:200px;padding:3px 1px 3px 26px}
#comment_form label:after{content:' *';color:#f00}
#comment_form textarea{width:100%;height:100px;box-sizing:border-box;}
#comment_form .submit{background:#FF6100;width:100%;height:30px;text-align:center;color:#fff;cursor:pointer;border:1px solid #D85503}
#comment_form .submit:hover{background:#D85503;color:#fff}
#comment_form .submit_dis{background:#cdcdcd;width:100%;height:30px;text-align:center;color:#333;cursor:pointer;border:1px solid #BCBCBC}

/**links page**/
.link_content{width:100%;margin:0;padding:0}
.link_content h3{font-size:14px;width:100%;font-weight:700;margin:10px 0 8px;padding:0}
.link_content li{width:24%;float:left;height:25px;line-height:25px;margin-left:0}
.link_content li .icon-friend{font-size:20px;margin-right:3px;color:#FF6100}
.link_content .getlink{background-position:left;background-repeat:no-repeat;background-size:16px 16px;}
/**tagcloud page**/
.tagpage{line-height:28px}
.tagpage a{text-decoration:none;border-bottom:none;margin-right:8px}
.tagpage a:hover{border-bottom:none;text-decoration:none}
.tagsize-5{font-size:12px;color:#444}
.tagsize-10{font-size:16px;color:#555}
.tagsize-20{font-size:18px;color:#666}
.tagsize-30{font-size:22px;color:#777}
.tagsize-0{font-size:28px;color:#222}
/**guestbook page**/
.wall_content{margin:0;padding:0}
.wall_content h3{margin:8px 0 15px 0;font-weight:bold;color:#FF6600;}
.wall_content li{width:74px;float:left;margin-left:0;margin-bottom:8px}
.wall_content li .wallshow{width:64px;height:64px;padding:3px;border:1px #bbb solid;background:#ddd}
.wall_content a{position:relative;display:block}
.wall_content a i{font-size:10px;font-style:normal;width:28px;text-align:center;height:16px;line-height:16px; background-color:#888;color:#fff;position:absolute;top:-3px;right:3px;border:1px #eee solid; border-radius:50%;} 
/**search page**/
.search_tips{min-height:520px;height:auto!important;height:520px;}
.s_o_tit{font-size:16px;padding:30px 0 8px}

/* width: 821-980 */
@media only screen and (min-width:821px) and (max-width:980px){
#content{width:auto}
#search-icon{display:none}
.post_entry .content img{height:auto;width:auto\9;max-width:98%;border-radius:3px;padding:0;border:1px #888 solid;box-shadow:3px 3px 0px 0px #cdcdcd}
}

/*  width < 821  */
@media only screen and (max-width:820px){
body{min-width:320px}
.grava_tips, .title_info .author, .title_info .cate, .title_info .tags, .post_title .datetime, #footer, .post_entry .thumbnail, .relatedpost li span,.go_img, #sidebar,.slogan{display:none !important;}
.header_bg{height:50px}
#header{height:48px;left:0;right:0;top:0;position:fixed;z-index:10;background:#F0F0F0;border-bottom:1px #bbb solid}
#header .logo{width:99px;height:30px;font-size:0;color:#f6f6f6;text-align:left}
#header .header{padding-top:7px}
.header .search{width:100%;height:34px;top:48px;display:none}
.header .search div{margin:0 60px 0 0;position:relative;border:0;padding:0}
.header .search .s_inp{float:none;border-radius:0;width:100%}
.header .search .s_btn{float:none;position:absolute;top:0;right:0;border-radius:0}
#search-icon{display:block;position:absolute;top:13px;right:53px}
#search-icon .icon-search{font-size:25px;color:#888}
#topmenu{cursor:pointer;height:30px;padding:0;background:none;width:25px;position:absolute;top:5px;right:10px}
#topmenu ul {display:none;padding:60px 0 0;width:100%;height:100%;position:fixed;right:0;top:0;background:rgba(250,250,250,.95);z-index:9;}
#topmenu ul li{text-align:center;margin-left:0}
#topmenu ul li a {line-height:60px;height:60px;text-align:center;font-size:20px;border-bottom:0}
#topmenu .menu li{font-size:16px;background:none;display:inline-flex;width:100%}
#topmenu .menu li a{display:block;float:none;color:#333;padding:0;width:100%}
#topmenu .menu li a:hover,.current{color:#FF6100 !important;background:none;}
#topmenu .i_1,#topmenu .i_2{content:"";position:absolute;}
#topmenu nav,#topmenu .i_1,#topmenu .i_2{top:17px!important;left:0;width:25px;height:3px;background:#999;display:block;position:relative;z-index:99999;}
#topmenu .i_1 {top:5px!important;transition:.3s;}
#topmenu .i_2 {top:20px!important;transition:.3s;}
#topmenu.nav_close .i_2{top:12px!important;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);-moz-transform:rotate(-45deg);transform:rotate(-45deg);}
#topmenu.nav_close .i_1{top:15px!important;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg);}
#topmenu.nav_close .i_1,#topmenu.nav_close .i_2 {background:#999;}
#topmenu.nav_close nav{background:none;}
#topmenu.nav_close ul li ul{display:none;}
#topmenu.nav_close ul,#topmenu.nav_close ul li:hover ul{display:block;}
#content{font-size:16px;overflow:hidden;margin-right:0;padding-bottom:10px;width:100%}
.post{margin-bottom:10px;}
.post_title{margin-bottom:0;margin-left:0;padding-left:0;height:auto;min-height:20px;padding-bottom:10px;padding-top:8px;}
.post_title h2.title{line-height:26px;padding-bottom:5px;font-size:22px}
.post_title .title_info{margin-top:5px;overflow:hidden}
.post_entry .art-content{font-size:16px;color:#666}
.post_entry .content{color:#666}
.post_entry .content p{margin-top:0;word-break:break-all;font-size:16px}
.post_entry .content img{height:auto;width:auto\9;max-width:98%;border-radius:3px;box-shadow:none;padding:2px;border:1px #888 solid;box-shadow:3px 3px 0px 0px #cdcdcd}
.post_entry .post_end{height:2px;font-size:0;padding:0;border:0;overflow:hidden}
.post_entry .art-tags span,.title_info .time{display:none;}
.post_entry .art-tags{text-align:center}
.post_entry .art-tags .rd_more{border:1px #FF6600 solid;padding:3px 4px 1px 6px;float:none;margin:0 auto;display:table;border-radius:4px;margin-top:8px;font-size:14px;}
.post_entry .art-tags a.rd_more{color:#FF6600}
ol.page-navigator li.prev,ol.page-navigator li.next{display:inline;margin:0 5px 0 0}
ol.page-navigator li{display:none}
.relatedpost li{width:98%;display:block;overflow:hidden;text-overflow:ellipsis;}
.wall_content li{width:44px;float:left;margin-left:8px;margin-bottom:8px}
.wall_content li .wallshow{width:34px;height:34px}
.wall_content a i{display:none;}
.link_content li{width:49%;}
.backtop{bottom:30px;right:10px;width:26px;}
.backtop a{width:26px;height:26px;}
.reward .window ul li{max-width:150px;margin-top:8px;}
.reward .window ul li:after,.reward .window ul li.alipay:after{content:'';}
}